html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0;
    height: 100%;
}

p, h2 {
    text-align: center;
}

/* ---- navbar ---- */
.logo img{
    margin: 10px;
    width: 11em;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 80px;
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
.menu-btn-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ham-menu {
    display: none;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-btn::before {
    content: '';
    margin-top: -8px;
}

.menu-btn::after {
    content: '';
    margin-top: 8px;
}

#ham-menu:checked + .menu-btn-container .menu-btn::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#ham-menu:checked + .menu-btn-container .menu-btn {
    background: white;
}

#ham-menu:checked + .menu-btn-container .menu-btn::after {
    margin-top: 0px;
    transform: rotate(-405deg);

}

a {
    text-decoration: none;
    color: black;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .menu-btn-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #ham-menu ~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #ham-menu:checked ~.menu li{
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

}

/* ---- slideshow-image ----- */
#slide-bg {
    width: 100;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 20s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('../img/lake.jpg');

}
  
  @keyframes slideBg {
    0% {
        background-image: url('../img/lake.jpg');
    }
    50% {
        background-image: url('../img/waterfall.JPG');
    }
    100% {
        background-image: url('../img/city.JPG');
    }
  }
h1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    padding: 500px 0;
    font-size: 40px;
}

h2 {
    font-weight: 300;
    padding: 30px;
}


/* ---- the adventure ----- */

.adv-main, .about-main, .get-main{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.container {
    display: flex;
    padding: 36px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.content {
    flex: 20em;
    max-width: 20em;
    padding: 0 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 8px;
}

.content:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content img {
    width: 100%;
    margin-top: 8px;
}

.caption {
    padding: 20px;
    text-align: center;
}

/* @media (max-width: 1300px) {

    .container{
        display: flex;
        flex-direction: column;
    }
} */
/* ---- about ----- */



/* ---- get in touch ----- */

input {
    border: none;
    border-bottom: 2px solid black;
    width: 40%;
    padding: 10px 20px;
    margin: 8px 0;
}

/* ---- footer----- */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}