<!DOCTYPE html>

<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <title>grid-exercise</title>
  </head>
  <body>
    <header>
      <h1>Wonderful Nature</h1>
    </header>
    <main>
      <div class="main-img">
        <img src="../grid/img/forest.jpeg" alt="forest" />
      </div>
      <section class="container">
        <article class="content sign-up">
          <form>
            <p class="sub">Subscribe our newsletter</p>
            <label for="name">Your name</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="What's your name?"
            />
            <label for="email">Your email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="email@example.com"
            />
            <label for="birthday">Your Birthday</label>
            <input type="date" id="birthday" name="birthday" />
            <input type="submit" value="Subscribe" />
          </form>
        </article>
        <article class="content">
          <h2>Lorem</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </article>
        <article class="content">
          <h2>Ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </article>
        <article class="content">
          <h2>Dolor</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </article>
      </section>
    </main>
    <footer class="footer">
      <p>
        Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium
        vulputate sapien. Turpis egestas integer eget aliquet nibh praesent. In
        tellus integer feugiat scelerisque varius. Duis at tellus at urna
        condimentum mattis pellentesque. Imperdiet nulla malesuada pellentesque
        elit eget gravida cum sociis. Commodo viverra maecenas accumsan lacus
        vel. Massa eget egestas purus viverra accumsan. Tristique senectus et
        netus et. In hac habitasse platea dictumst vestibulum rhoncus. Viverra
        nam libero justo laoreet sit amet. Arcu cursus euismod quis viverra nibh
        cras pulvinar mattis nunc. Velit scelerisque in dictum non. Viverra
        aliquet eget sit amet tellus cras adipiscing enim eu. Sed arcu non odio
        euismod. Suspendisse faucibus interdum posuere lorem ipsum dolor sit.
        Pharetra massa massa ultricies mi quis hendrerit dolor magna.
      </p>
      <p class="copyright">© 2022</p>
    </footer>
  </body>
</html>
