body {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
}
main, footer {
    font-family: 'Quicksand', sans-serif;
}

header {
    top: 0;
    width: 100%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 30pt;
    text-align: center;
    background-color: coral;
    color: white;
    padding: 10px;
}

img {
    padding: 10px 0;
    width: 100%;
}

/* ---- grid ---- */
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 2fr;
    padding-bottom: 10px;
    grid-gap: 10px;
    justify-content: center;
}
.content {
    background-color: bisque;
    padding: 10px;
}

h2 {
    text-align: center;
}

/* ---- sticky-footer ---- */

footer {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.footer {
    background-color: coral;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
}
.copyright {
    padding: 10px;
    color: black;
    text-align: center;
}